/* Macro  CSS */

body {
    font-family: 'Roboto', sans-serif;
}

header {
    height: 60px;
}

main {
    height: calc(100vh - 70px);
}

nav {
    width: 50px;
    height: 100%;
}

/* Header */
header {
    background-color: white;
}

#loghito {
    width: 55px;
    height: 50px;
}

#logone {
    width: 90px;
    height: 50px;
    display: none;
}

header img {
    max-width: 100%;
}

.input-group input {
    margin-top: 0.6rem;
    margin-left: 0.1rem;
}

.ms_right {
    text-align: center;
    line-height: 55px;
    font-size: 11px;
}

.ms_right ul {
    line-height: 1rem;
}

.bi-list,
.bi-question-circle-fill,
.bi-three-dots-vertical {
    display: none;
}

.bi-bell-fill {
    color: rgb(208, 172, 12);
}

#bell {
    background-color: white;
    border: none;
    padding: 0;
    margin: 0;
}

.form-control {
    background-color: rgb(226, 223, 223);
}


/* Right side block - Header */
.ms_side {
    width: calc(100% - 50px);
}

.ms_side-header {
    color: white;
    font-size: 0.75rem;
}

.ms_side-header span {
    background-color: rgba(0, 0, 0, 0.3);
    padding: 4px 8px;
    border-radius: 20px;
    margin-right: 3px;
}

.ms_side-header h3 {
    display: inline-block;
}

.ms_side-header p {
    padding-top: 0.5rem;
}

#new-student {
    display: inline;
    margin-right: 0.4rem;
}

#plus {
    font-size: 15px;
    border: 1px solid;
    border-radius: 7px;
    background-color: #0d6efd;
}

.ms_side-header i {
    margin: 0px 3px;
}

.hidden-sm {
    display: none;
}

#number {
    font-size: 1.5rem;
}

/* pop up form */

#ms_form {
    color: black;
    font-size: 1rem;
}

#ms_form input {
    background-color: white;
}

#basic-url {
    margin-top: 0;
}

/* right side block Tables */

.ms_table h5 {
    background-color: rgb(251, 248, 248);
    padding: 0.7rem;
    border: 1px solid rgb(208, 208, 208);
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;

}

.ms_table .text {
    border: 1px solid rgb(208, 208, 208);
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

.ms_table th {
    font-size: 0.8rem;
    font-weight: 500;
}

.ms_table td {
    font-size: 0.8rem;
}

td img {
    max-width: 100%;
    width: 22px;
    margin-right: 0.5rem;
}

.ms_table .label {
    text-align: center;
    border-radius: 7px;
    color: white;
}

.ms_table .done {
    width: 2.5rem;
    background-color: rgb(2, 165, 70);
}

.ms_table .process {
    width: 3.5rem;
    background-color: rgb(252, 252, 1);
}

.ms_table .fail {
    width: 2.5rem;
    background-color: rgb(252, 1, 1);
}

td i {
    border: 2px solid rgb(163, 161, 161);
    border-radius: 5px;
    margin-right: 2px;
    padding: 4px;
    color: rgb(163, 161, 161);
}

.hide-md {
    display: none;
}


/* Left side block (nav) */
nav {
    background-image: url(img/sidebar-bg.png);
    background-color: #0d093a;

}

nav .icon {
    color: white;
    padding: 0.7rem;
}

nav span {
    display: none;
}

/* DEBUG */
/* main,
nav,
.ms_side,
.ms_side-header {
    background-color: blueviolet;
    border: 1px solid;
} */

.blue {
    border: 1px solid;
    min-height: 100px;
}



/* RESPONSIVE */

@media (min-width: 576px) {
    #number {
        margin-top: -1rem;
    }


}


@media (min-width: 768px) {
    .hide-md {
        display: inline-block;
    }
}



@media (min-width: 992px) {
    #loghito {
        display: none;
    }

    #logone {
        display: inline-block;
    }

    .bi-list,
    .bi-question-circle-fill,
    .bi-three-dots-vertical {
        display: inline;
        color: rgb(60, 59, 59);
    }

    nav {
        width: 120px;
    }

    nav span {
        display: inline;
        padding-left: 0.5rem;
    }

    .ms_side {
        width: calc(100% - 120px);
    }

    .hidden-sm {
        display: inline;
    }

    .hidden-lg {
        display: none;
    }

    .modal-dialog {
        margin-right: 0 !important;
        margin-top: 0 !important;
    }
}