/* MY CSS */

body {
    font-family: 'Roboto', sans-serif;
}

header {
    height: 60px;
}

main {
    height: calc(100vh - 70px);
}

nav {
    width: 60px;
    height: 100%;
}

/* CSS right side block */
.ms_side {
    width: calc(100% - 30px);
}

.ms_side-header {
    color: white;
    font-size: 0.75rem;
}

.ms_side-header span {
    background-color: rgba(0, 0, 0, 0.3);
    padding: 4px 8px;
    border-radius: 20px;
    margin-right: 3px;
}

.ms_side-header h3 {
    display: inline-block;
}

.ms_side-header p {
    padding-top: 0.5rem;
}

.ms_side-header i {
    margin: 0px 3px;
}

.hidden-sm {
    display: none;
}

#number {
    font-size: 1.5rem;
}


/* DEBUG */
header,
main,
nav,
.ms_side,
.ms_side-header {
    background-color: blueviolet;
    border: 1px solid;
}




/* RESPONSIVE */

@media (min-width: 576px) {
    #number {
        margin-top: -1rem;
    }
}

@media (min-width: 768px) {}

@media (min-width: 992px) {
    .hidden-sm {
        display: inline;
    }

    .hidden-lg {
        display: none;
    }
}